<h1>Flight Details</h1>
<table class="flight-schedule">
<th><%= @flight_number %></th>
<% @flight_info.each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td><%= value %></td>
  </tr>
<% end %>
</table>